  /*body {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-image: url('https://i1.wp.com/gokbilimi.net/wp-content/uploads/2016/01/1587858.jpg?ssl=1');
  width: 100%;
  height: 100%;
}

html {
  background: url(https://i2.wp.com/www.eyedesyn.com/wp-content/uploads/2017/03/iso_Maze_HD-1.jpg?fit=1920%2C1080) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

@font-face {
    font-family: neon1;
    src: url(fonts/LasEnter_PersonalUseOnly.ttf);
}

@font-face {
    font-family: neon2;
    src: url(fonts/Neoneon.otf);
}

@font-face {
    font-family: neon3;
    src: url(fonts/Blox2.ttf);
}

@font-face {
    font-family: neon4;
    src: url(fonts/3D-Thirteen-Pixel-Fonts.ttf);
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: blur(4px);
}

/*Neon*/

#container {
  position: absolute;
  z-index: 99;
  width: 100%;
}

p {
    margin: 25px 100px;
}

p#one {
  display: inline-block;
  font-size: 60px;
  color: #FFF;
  font-family: neon4;
  background-color: #ce3a034d;
  position: relative;
  box-shadow: 0px 0px 20px #00000080;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

p#two {
  display: inline-block;
  font-size: 60px;
  color: #FFF;
  font-family: neon4;
  background-color: #a1a1004d;
  float: right;
  position: relative;
  box-shadow: 0px 0px 20px #00000080;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p.test {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

p a:hover {
  color: #ffffff;
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*//////////////*/

.token_player {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius\): 50px;
  border-radius: 69px;
  border: 10px #0006 double;
  position: absolute;
  top: 3.5%;
}

td {
    border: 10px blue inset;
    width: 100px;
    height: 100px;
    border-radius: 69px;
}

tr {
    background-color: blue;
    border-radius: 12px;
}

table {
    border-spacing: 10px;
    box-shadow: 0px 0px 100px #00000080;
    padding: 3px;
    background: blue;
    border-radius: 5px;
    border: 6px blue outset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap-height {
  position: absolute;
}


@media screen and (max-width: 1100px) {
  table {
    position: relative;
    transform: translate(-50%, 15%);
  }
}





.token {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius\): 50px;
  border-radius: 69px;
  border: 10px #0006 double;
  position: absolute;
  top: 3.5%;
  animation: bounce 2s 1 forwards;
}

.token.one {
  background-color: red;
}

.token.two {
  background-color: yellow;
}

@keyframes bounce {
	0% {
		top: 3.5%;
		animation-timing-function: ease-in;
	}
	16% {
		top: 84%;
		animation-timing-function: ease-out;
	}
	32% {
		top: 27.5%;
		animation-timing-function: ease-in;
	}
	48% {
		top: 84%;
		animation-timing-function: ease-out;
	}
	62% {
		top: 50.5%;
		animation-timing-function: ease-in;
	}
	70% {
		top: 84%;
		animation-timing-function: ease-out;
	}
  75% {
    top: 60.5%;
    animation-timing-function: ease-out;
  }
	100% {
		top: 84%;
		animation-timing-function: ease-out;
	}
}
