/**
 * @Author: klein
 * @Date:   2018-06-13T13:56:09+02:00
 * @Email:  https://allan-fk.gitlab.io
 * @Filename: grid.css
 * @Last modified by:   klein
 * @Last modified time: 2018-06-17T22:34:31+02:00
 * @License: GNU General Public License
 */



.wrapper {
  display: grid;
  grid-template-columns: 20% 9% 9% 9% 9% 9% 9% 20%;
  grid-template-rows: auto;
  grid-gap: 0.5%;
  grid-auto-rows: auto;
}

.col-three.one {
  grid-column: 2/4;
}

.col-three.two {
  grid-column: 4/6;
}

.col-three.three {
  grid-column: 6/8;
}

.row1 {
  grid-row: 1 !important;
}

.row2 {
  grid-row: 2 !important;
}

.row3 {
  grid-row: 3 !important;
}

.row4 {
  grid-row: 4 !important;
}

.row5 {
  grid-row: 5 !important;
}

.col-center {
  grid-column: 2/8;
}

.col-two.one {
  grid-column: 2/5;
  grid-row: 1;
}

.col-two.two {
  grid-column: 5/8;
  grid-row: 1;
}

.height-ajust {
  height: 130px;
}

@media (max-width: 1300px) {

	.wrapper {
    grid-template-columns: 10% 12% 12% 12% 12% 12% 12% 10% !important;
  }
}

@media (max-width: 1100px) {

	.wrapper {
    grid-template-columns: 7% 14% 14% 14% 14% 14% 14% 7% !important;
  }
}


@media (max-width: 700px) {

  .col-three.one.row1 {
      grid-column: 2/8;
  }
  .col-three.one.row2 {
      grid-column: 2/8;
      grid-row: 2 !important;
  }
  .col-three.two.row1 {
      grid-column: 2/8;
      grid-row: 3 !important;
  }
  .col-three.two.row2 {
      grid-column: 2/8;
      grid-row: 4 !important;
  }
  .col-three.three.row1 {
      grid-column: 2/8;
      grid-row: 5 !important;
  }
  .col-three.three.row2 {
      grid-column: 2/8;
      grid-row: 6 !important;
  }
  .col-center.row3.destinations {
    grid-row: 7 !important;
  }

  .col-two.one.about {
      grid-column: 2/8;
  }

  .col-two.two.why {
    grid-column: 2/8;
    grid-row: 2 !important;
  }

  .row2 {
    grid-row: 5 !important;
  }
}
