/**
 * @Author: klein
 * @Date:   2018-06-12T13:11:35+02:00
 * @Email:  https://allan-fk.gitlab.io
 * @Filename: style.css
 * @Last modified by:   klein
 * @Last modified time: 2018-06-17T22:37:36+02:00
 * @License: GNU General Public License
 */


/* ### INITIALISATION ### */
@charset "utf-8";

body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.trait {
  border-bottom: 1px solid #d4d4d4;
}

.bg-blue {
  background-color: #9A99FF;
}

.bg-blue_clair {
    background-color: #CCFFFF;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #b3b3b3;
}

/*------------------------------------------------------------------*/

/* SOCIAL */
.container.social {
  border-bottom: 1px solid black;
}
.container.social img {
  margin: 10px 2px;
}

/*---------------------------------------------------------------*/

/* ### HEADER ### */

.col-center.header{
margin: 0 -2%;
}

.container.header {
  line-height: 70px;
  border-bottom: 1px solid black;
  padding: 30px;
}

#logo img {
  width: 350px;
  position: absolute;
  clip: rect(0px, 350px, 90px, 0px);
}

#logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -10px;
  float: left;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 800;
  text-shadow: 1px 1px 20px #000000;
}

#logo:hover{
  color: #ffed00;
}

header ul {
  float: right;
  line-height: 25px;
  list-style-type: none;
  font-size: 12px;
  padding: 20px 0;
  width: 50%;
}

header ul li {
  float: right;
  display: inline-block;
  margin-left: 4%;
}

header ul li img {
  height: 10px;
  top: 2px;
  position: relative;
  margin: 0 4px;
}

header ul li ul {
  display:none;
  position: absolute;
  background-color: #ddd;
  max-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -15px;
 }

 header ul li ul a {
   color: black;
   padding: 0px 20px;
   text-decoration: none;
   display: block;
   margin-top: -7px;
}

 header ul li ul a:hover {
   width: 100%;
   background-color: #f1f1f1;
}
 .header ul li:hover ul {
    display:block;
    float: none;
  }

@media (max-width: 950px) {

	header ul {
    float: none !important;
    width: 100%;
    margin-top: 100px;
  }

  header ul li {
    float: none;
    display: block;
    text-align: center;
  }

  #logo img {
    transform: translateX(-50%);
    margin: 0px 40%;
  }

}


/*------------------------------------------------------------------*/

/* ### SLIDE-SHOW ### */

.container.slide-show {
  padding: 1% 0 1% 0;
}

.container-gallery {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  height: 400px;
  padding-bottom: 25%;
  user-select: none;
  background-color: #1c1c1c;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
}

@media (max-width: 1500px) {

	.container-gallery {
    height: 300px !important;
  }
}

@media (max-width: 1300px) {

	.container-gallery {
    height: 320px !important;
  }
}

@media (max-width: 1100px) {

	.container-gallery {
    height: 350px !important;
  }
}

@media (max-width: 900px) {

	.container-gallery {
    height: 250px !important;
  }
}

@media (max-width: 700px) {

	.container-gallery {
    height: 150px !important;
  }
}

.container-gallery input {
  display: none;
}
.container-gallery .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container-gallery .slide_img img {
  width: inherit;
  height: inherit;
}
.container-gallery .slide_img .prev, .container-gallery .slide_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: .45s;
  cursor: pointer;
  text-align: center;
}
.container-gallery .slide_img .next {
  right: 0;
}
.container-gallery .slide_img .prev {
  left: 0;
}
.container-gallery .slide_img .prev span, .container-gallery .slide_img .next span {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
}
.container-gallery .slide_img .prev span {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/2.png");
  background-position: 0px 45px;
  left: 0;
}
.container-gallery .slide_img .next span {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/2.png");
  background-position: 45px 45px;
}

@media (max-width: 800px) {
	.container-gallery .slide_img .next span {
    left: 30%;
  }
}

@media (max-width: 600px) {
	.container-gallery .slide_img .next span {
    left: -20%;
  }
}
.container-gallery #nav_slide {
  width: 100%;
  bottom: 9%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

@media screen and (max-width: 985px) {
  .container-gallery  #nav_slide {
    bottom: 17%;
  }
}

.container-gallery #nav_slide .dots {
  top: 70px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 25px -1px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.container-gallery #nav_slide #dot1:hover {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 24px 59px;
  width: 20px;
  height: 20px;
}
.container-gallery #nav_slide #dot2:hover {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 24px 59px;
  width: 20px;
  height: 20px;
}
.container-gallery #nav_slide #dot3:hover {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 24px 59px;
  width: 20px;
  height: 20px;
}
.container-gallery #nav_slide #dot4:hover {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 24px 59px;
  width: 20px;
  height: 20px;
}
.container-gallery #nav_slide #dot5:hover {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 24px 59px;
  width: 20px;
  height: 20px;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 27px 30px;
  background-position: 24px 29px;
  width: 20px;
  height: 20px;
}

#i2:checked ~ #nav_slide #dot2 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 27px 30px;
  background-position: 24px 29px;
  width: 20px;
  height: 20px;
}

#i3:checked ~ #nav_slide #dot3 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 27px 30px;
  background-position: 24px 29px;
  width: 20px;
  height: 20px;
}

#i4:checked ~ #nav_slide #dot4 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 27px 30px;
  background-position: 24px 29px;
  width: 20px;
  height: 20px;
}

#i5:checked ~ #nav_slide #dot5 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/1.png");
  background-position: 27px 30px;
  background-position: 24px 29px;
  width: 20px;
  height: 20px;
}

@keyframes scroll {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .container-gallery {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
}
.yt {
  margin: 0 auto;
  margin-top: 30px;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background: #2196F3;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);
  transition: .4s;
  opacity: .4;
}
.yt a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  top: 4px;
}

.yt:hover {
  transition: .3s;
  box-shadow: none;
  opacity: .8;
}

/* -----------------------------------------------------------------*/

/* ### MENU ### */

.menue img {
  float: left;
  display: block;
  margin: 10px;
}

.menue .shadow img {
  filter: drop-shadow(5px 5px 10px #5e5e5e);
}

.menue h3 {
  color : white;
}

.container.menue, .about {
  padding: 3% 0 8% 0;
}

/* -----------------------------------------------------------------*/

/* ### DESTINATIONS ### */

.destinations img {
  border: 1px solid #bcbaba;
  padding: 0.2%;
  border-radius: 2%;
  width: 10%;
  z-index: -1;
  position: relative;
}

.destinations .arrow-left2 {
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  top: 40%;
  left: -5%;
}

.destinations .arrow-right2 {
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  top: 30%;
  left: 100%;
}

.destinations .arrow-left2 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/21.png");
  background-position: 0px 22px;
}

.destinations .arrow-right2 {
  background-image: url("/home/klein/Documents/works/Php_works/HTML_CSS_Maquette_Responsive/Maquette_Responsive/22.png");
  background-position: 0px 22px;
}

.destinations .arrow-right2 {
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  top: 35%;
  left: 100%;
}

.destinations .arrow-left2 p {
  margin: -57px;
}

.slider {
  overflow: hidden;
  box-shadow: 0px 0px 10px 20px rgb(255, 255, 255) inset;
  z-index: 6;
  padding: 30px 0px;
}

.slides {
  width: 300%;
}

.destinations .arrow-left2 ~ .slider .slides {
  position: relative;
  animation: glisse3 5s;
  animation-play-state: paused;
}

.destinations .arrow-left2:hover ~ .slider .slides {
  position: relative;
  animation-play-state: running;
}

@keyframes glisse3 {
  0% {
    left: -800px;
  }
  100% {
    left: 0px;
  }
}

.destinations .arrow-right2 ~ .slider .slides {
  position: relative;
  animation: glisse3 5s;
  animation-play-state: paused;
}

.destinations .arrow-right2:hover ~ .slider .slides {
  position: relative;
  animation: glisse3 5s;
  animation-direction: reverse;
}


/* --------------------------------------------------------------*/

/* ### ABOUT ### */

.about img {
  float: left;
  display: block;
  margin: 10px;
}

.about .button-sub {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100%;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  background: linear-gradient(#8CC76E, #719F5A);
  color: #fff;
  border: solid 1px #666;
  border-radius: 5px;
  height: 40px;
}

/*-------------------------------------------------------------------*/

/* FOOTER */
.container.footer{
	box-sizing: border-box;
	width: 100%;
  height: 100px;
}

.footer h4 {
  display: inline-block;
}

.footer span {
    color: #74665b;
}
