<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?=$this->Html->charset()?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?=$cakeDescription?>:
        <?=$this->fetch('title')?>
    </title>
    <?=$this->Html->meta('icon')?>

    <?=$this->Html->css('base.css')?>
    <?=$this->Html->css('boostrap4.css')?>
    <?=$this->Html->css('navbar.css')?>
    <?=$this->Html->css('blog.css')?>
    <?=$this->Html->css('toastr.min.css')?>
    <?php echo $this->Html->script('jquery-3.3.1.min') ?>
    <?=$this->fetch('meta')?>
    <?=$this->fetch('css')?>
    <?=$this->fetch('script')?>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
          <div class="logo">
            <a href="/Epitech_Projects/MVC_Blog"><?=$this->Html->image('blogger-logo.svg', ['alt' => 'LOGO'])?></a>
            <div class="responsive_mobile_menu"></div>
          </div>
        </div>
    </nav>
    <!--
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?=$this->fetch('title')?></a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
            <?php if (isset($userIsLoggedIn) && $userIsLoggedIn): ?>
    <span>User is logged in</span>
<?php else: ?>
    <span>User is NOT logged in</span>
<?php endif;?>
                <li><a target="_blank" href="https://book.cakephp.org/3.0/">Documentation</a></li>
                <li><a target="_blank" href="https://api.cakephp.org/3.0/">API</a></li>
            </ul>
        </div>
    </nav>-->
    <?=$this->Flash->render()?>
    <div class="container clearfix">
        <?=$this->fetch('content')?>
    </div>
    </div>
</div>
    <footer>
    </footer>
    
    <? //php echo $this->Html->script('jquery-3.3.1.min', 'bootstrap.min', 'toastr.min']); ?>
    
</body>
<?php echo $this->Html->script(['bootstrap.min', 'toastr.min']); ?>
</html>
