.brand.user-image {
  height: 35px;
}

.skin-red .main-header .logo {
  background-color: #EA6B30 !important;
}

/* User create */
.well {
  background-color: unset;
  border: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}