@charset "utf-8";

/* font-family: 'Raleway', sans-serif; */
body, html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h6, h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

header{
  display: block;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container::before{
  display: table;
  content: " ";
}

.container::after{
  display: table;
  content: " ";
}

.container-fluid::after {
  clear: both;
}

.container-fluid::before{
  display: table;
  content: " ";
}

.container-fluid::after{
  display: table;
  content: " ";
}

@media only screen and (min-width: 992px) {
  .container{
    width: 970px;
  }
}

@media only screen and (min-width: 768px) {
  .container{
    width: 750px;
  }
}

a, a:hover {
  text-decoration: none;
}

.container-fluid.nintendo {
  padding: 0;
  background-image: url("/home/klein/Documents/works/Php_works/PHP_Wac/HTML_CSS_Maquette_Introduction/misc/grille.png");
  background-repeat: repeat;
  position: relative;
}

.separator {
  height: 3px;
  width: 100px;
  border: none;
  box-shadow: none;
  background-color: #8D87FF;
  margin-bottom: 10%;
}

.btn-custom {
  background-color: #8D87FF;
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
}

.btn-custom:hover {
  background-color: #ffed00;
}

/* header */
.header {
  background-image: url("/home/klein/Documents/works/Php_works/PHP_Wac/HTML_CSS_Maquette_Introduction/misc/grille.png");
  background-repeat: repeat;
  line-height: 70px;
}

.header .container{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 960px;
}

@media only screen and (max-width: 1000px) {
  .header .container{
    width: 530px;
  }
  header ul.responsive_menu{
    margin-left: 58px !important;
  }
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -10px;
  margin-left: 5%;
  float: left;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 800;
  font-family: 'proxima-nova', sans-serif;
  text-shadow: 1px 1px 20px #000000;
}

.logo:hover{
  color: #ffed00;
}

header ul {
  float: left;
  line-height: 25px;
  list-style-type: none;
  font-size: 12px
}

header ul h4 {
  padding-bottom: 10px;
  font-family: 'Oswald', sans-serif;
}
header ul h4.menu-colorA{
  border-bottom: 4px solid #F76900;
}

header ul h4.menu-colorB{
  border-bottom: 4px solid #FCD04A;
}

header ul h4.menu-colorC{
  border-bottom: 4px solid #B9D482;
}

header ul h4.menu-colorD{
  border-bottom: 4px solid #3D92C2;
}

header ul h4.menu-colorE{
  border-bottom: 4px solid #C078D0;
}
.menu {
  float: right;
}

.menu a {
  color: #ffffff;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 1px 1px 20px #000000;

}

.menu a:hover {
  color: #ffed00;
}

header .menu .home {
  background-color: #8D87FF;
  color: #fff;
  padding: 0 10px;
  margin-right: -5px;
  height: 72px;
  display: inline-block;
}

header .menu .ninten {
  background-color: #e26352;
  color: #fff;
  padding: 0 10px;
  margin-right: -5px;
  height: 72px;
  display: inline-block;
}

header .menu .gam {
  background-color: #ffed00;
  color: #fff;
  margin-right: -5px;
  padding: 0 10px;
  height: 72px;
  display: inline-block;
}

header .menu .news {
  background-color: #5fd464;
  color: #fff;
  margin: auto;
  padding: 0 10px;
  height: 72px;
  display: inline-block;
}


/* Banniere */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 600px;
	max-width: 100%;
  margin: 60px auto;
  box-shadow: 0px 0px 50px black;
}

/* à propos */
.trait
{
  border: 1px solid #f2f2f2cc;
  margin-bottom: 10px;
  margin-top: 10px;
}
#nintendo {
  text-align: center;
  font-family: droid-serif, serif;
  font-style: italic;
  margin: 50px;
}

/* CONTENTS */
@media only screen and (max-width: 1200px) {
    .container.contents {
        width:  860px !important;
    }
}
@media only screen and (max-width: 870px) {
    .container.contents {
        width:  80% !important;
    }
    .column {
      width:  220px !important;
    }
    .column.three {
      width:  500px !important;
    }
}

@media only screen and (max-width: 650px) {
    .container.contents {
        width:  80% !important;
    }
    .column {
      width:  80% !important;
    }
    .column.three {
      width:  80% !important;
    }
}

.container.contents {
  padding-top: 50px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.column.one{
  order: 0;
  /*flex: 0 1 auto;*/
  align-self: auto;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.column.two{
  order: 0;
  /*flex: 0 1 auto;*/
  align-self: auto;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.column.three{
  order: 0;
  /*flex: 0 1 auto;*/
  align-self: auto;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.column_three .sub_container{
  width: 100%;
}

.sub_container {
  display: flex;
  flex-wrap: wrap;
  float: left;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

.sub_container h3 {
  font-size: 20px;
  font-family: 'Oswald';
  color: #F0A227;
}

.sub_container .date {
  font-style: italic;
}

.sub_container.golf {
  border: 1px solid #f2f2f2cc;
}
.sub_container.gallery img {
  border: 1px solid #f2f2f2cc;
  padding: 5px;
  margin: 5px;
}

.golf_img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
/* games */

.games {
  padding-bottom: 80px;
}

#games {
  margin-top: 10%;
  text-align: center;
  font-size: 40px;
}
.games .item-folio {
  height: 300px;
}

article img {
  width: 100%;
  height:  auto;
}

.img-container {
  margin: 10px;
}

article .img-container {
  background-color: #ffffff ;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container p {
  padding: 10px;
}

/* FOOTER */
.footer-background{
  background-image: url("/home/klein/Documents/works/Php_works/PHP_Wac/HTML_CSS_Maquette_Introduction/misc/grille.png");
  background-repeat: repeat;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
}

.footer-container{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 1100px;
	text-align: left;
	font: bold 16px sans-serif;
  margin: 0px auto;
  padding: 50px 0;
}

.footer-container .footer-responsive,
.footer-container .footer-responsive,
.footer-container .footer-responsive{
	display: inline-block;
	vertical-align: top;
  width: 200px;
  margin: 0 34px;
}

/*fonts*/
.footer-responsive h4{
	color:  black;
	font-family: 'Oswald';
	margin: 30px 0;
}

.footer-responsive h6{
	color:  black;
	font-family: droid-serif, serif;
  font-style: italic;
}

.footer-container .footer-responsive i{
	background-color:  #33383b;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-container .footer-responsive i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-container .footer-responsive p{
	display: inline-block;
	color: black;
	vertical-align: middle;
  font-size: 10px;
	margin:0;
}

.footer-container .footer-responsive p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-container .footer-icons{
	margin-top: 25px;
}

.footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Responsive */

@media (max-width: 1200px) {

	.footer-container{
		font: bold 14px sans-serif;
    width: 1000px;
	}

	.footer-container .footer-responsive,
	.footer-container .footer-responsive,
	.footer-container .footer-responsive{
    width: 170px;
    margin: 0 3%;
  }
}

@media (max-width: 1000px) {

	.footer-container{
		font: bold 14px sans-serif;
    width: 100%;
	}

	.footer-container .footer-responsive,
	.footer-container .footer-responsive,
	.footer-container .footer-responsive{
    width: 200px;
    margin: 0 auto;
    display: block;
  }
}

	.footer-container .footer-responsive i{
		margin-left: 0;
	}

}
