.text-muted
{
	color: $text-muted;
}
.text-primary
{
	color: $text-primary;
}
.text-success
{
	color: $text-success;
}
.text-info
{
	color: $text-info;
}
.text-warning
{
	color: $text-warning;
}
.text-danger
{
	color: $text-danger;
}
.bg-primary {
    color: $btn-color;
    background-color: $bg-primary;
}
.bg-success
{
	background-color: $bg-success;
}
.bg-info
{
	background-color: $bg-info;
}
.bg-warning
{
	background-color: $bg-warning;
}
.bg-danger
{
	background-color: $bg-danger;
}