@font-face {
  font-family: 'neon';
  src: url('../fonts/Neon.ttf'); /* IE9 Compat Modes */
}

body, html{
  height: 100%;
 	font-family: 'Oxygen', sans-serif;
  background-image: linear-gradient(to right bottom, #051937, #004770, #007b9c, #00b2af, #1de7a8) !important;
}

/* BG */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px)
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
/* END BG */

/* NAV BAR */

.container-fluid {
  width: 70%;
}

.navbar-inverse.bg-white {
  background-color: #fff0;
  border-radius: 0px;
  border: none;
}
.brand-icon {
  height: 50px;
  margin: 5px;
  position: relative;
  float: left;
}

.navbar-inverse .navbar-brand.bg-black {
  padding: 8px !important;
  line-height: unset !important;
  margin-left: unset !important;
}

.navbar-inverse .navbar-brand.bg-black p {
  color: #fff;
  font-size: 30px;
  float: right;
  font-family: neon;
  text-shadow: 0px 0px 5px #0000004d;
  float: left;
}

.navbar-inverse .navbar-brand.bg-black p.yellow {
  color: yellow !important;
}


.navbar-inverse .navbar-brand.bg-black:hover {
color: #3d3d3d;
}

/* PRESENTATION */

.chg-size {
  height: 90%;
}

.main {
  position: absolute;
  transform: translateY(30%);
}

.main p {
  font-size: 25px;
  text-align: center;
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.brand-icon-full {
  position: relative;
  left: 25%;
  filter: drop-shadow(0px 5px 10px #0006);
  margin-bottom: 10%;
}


/* FORM */
.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	/*background-color: #fff;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
  max-width: 800px;
  padding: 40px 40px;
  top: 45%;
  transform: translate(-50%,-50%);
  right: -50%;
  position: relative;
  display: flex;
}

.main-center .main-bg {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  margin: -40px;
  z-index: -99;
  opacity: 0.8;
}

img.profile-picture {
  margin-right: 15%;
  height: 600px;
  box-shadow: 0px 0px 10px #00000080;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.btn-primary.red {
  background-color: #f86060;
  border-radius: 25px;
  border: none;
}

.btn-primary.red:hover {
  background-color: #c23e3e;
  border-radius: 25px;
  border: none;
}

/* PROFILES */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #CCFBFE;
  overflow: hidden;
  font-family: sans-serif;
}

.tinder {
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card .container-profile {
  height: 55%;
  display: block;
  overflow: hidden;
  clear: both;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
}

input.profile {
  max-height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: -10;
}

input.size {
  height: 395px;
  position: absolute;
  width: 100%;
  opacity: 0;
    cursor: cell;
}

.tinder--card img.profile {
  max-height: 100%;
  pointer-events: none;
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: -10;
}

.tinder--card .container-profile .skill {
  position: absolute;
  height: 60px;
  width: 60px;
  float: right;
  right: 40px;
  border-radius: 30%;
  padding: 10px;
  top: 20px;
  filter: drop-shadow(0px 0px 3px #000);
  background-image: linear-gradient(to right bottom, #051937, #004770, #007b9c, #00b2af, #1de7a8);
  font-family: neon;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.tinder--card .container-profile .skill.p {
  padding: 12px;
  margin-top: unset;
}

.tinder--card .container-profile .time {
  position: absolute;
  height: 60px;
  width: 60px;
  float: right;
  right: 40px;
  border-radius: 35%;
  padding: 13px;
  top: 18px;
  filter: drop-shadow(0px 0px 2px #000);
  left: 30px;
  background-image: linear-gradient(to right bottom, #051937, #004770, #007b9c, #00b2af, #1de7a8);
  color: #fff;
  font-family: neon;
  font-size: 23px;
  font-weight: bold;
  margin-top: unset;
}


.tinder--card h3 {
  margin-top: -100px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
  color: white;
  text-align: left;
  text-shadow: 1px black;
  text-shadow: 2px 2px 5px black;
  font-size: 30px;
  font-family: neon;
  margin-bottom: 50px;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 18px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card img.portfolio {
  height: 170px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 10px;
}


.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}


/* CREATION PROFIL */

form.form {
  height: 100%;
}

.describ-input {
  resize:none;
  width: 330px;
  height: 100px;
  border-radius: 11px;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0px 0px 10px #0000004d;
  margin-top: 20px;
}

.websitePerso {
  margin-top: 10px;
  width: 330px;
  border-radius: 11px;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0px 0px 10px #0000004d;
}

.describ-input-sexe {
  margin-top: 15px;
  width: 100px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 15px;
  float: left;
  box-shadow: 0px 0px 10px #0000004d;
  margin-left: 37px;
  margin-bottom: -5px;
  text-align: center;
  color: #959595;
  font-size: 14px;
}

.skill.menue {
  -moz-appearance: none;
  border: unset;
  background-image: unset !important;
  background: url(http://www.stackoverflow.com/favicon.ico) 50%/50%no-repeat, linear-gradient(to right bottom, #051937, #004770, #007b9c, #00b2af, #1de7a8) !important;

}

.websitePerso.date {
  width: 115px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: -5px;
  float: right;
  right: 10px;
  display: inline-flex;
  margin-right: 36px;
}

.infosCreate {
  position: absolute;
  bottom: 10px;
  top: 300px;
  left: 15px;
  background: unset;
  border: unset;
  font-family: neon;
  color: white;
  font-size: x-large;
  width: 180px;
}

.infosCreate.city {
  left: 200px;
}

.infosCreate.university {
    top: 340px;
}

/* TOAST-BUTTON */

#check, #checkT { display: none; }

.main-buttons-animate,
.container {
  margin: auto;
  position: absolute;
  top: 18px;
  right: 25px;
  height: 60px;
  border-radius: 35%;
  width: 60px !important;
}

.main-buttons-animate.times, .container.times {
  left: 25px;
  right: unset;
}

.main-buttons-animate {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
  background-image: linear-gradient(to right bottom, #051937, #004770, #007b9c, #00b2af, #1de7a8);
}

.main-buttons-animate:hover { background-color: #cf1572; }

.main-buttons-animate:active {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35), inset 1px 2px 2px rgba(0, 0, 0, 0.35);
  background-color: #a11158;
}

.main-buttons-animate .title {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 3em;
  line-height: 80px;
  text-align: center;
  color: #fafafa;
}

.main-buttons-animate .title .size-adjust {
  height: 35px;
}

.container { z-index: 10; }

.plate {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  background-color: white;
}

.plate i {
  width: 100%;
  font-size: 2em;
  line-height: 53px;
  text-align: center;
  color: #333;
}

.plate p {
  position: relative;
  bottom: 11px;
  font-family: neon;
  color: #000;
  font-weight: bold;
}

.plate:hover i { color: #111; }

.plate:nth-of-type(1) {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.plate:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.plate:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.plate:nth-of-type(4) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.plate:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.plate:nth-of-type(6) {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.plate:nth-of-type(7) {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.plate:nth-of-type(8) {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* skill */
#check:checked ~ .main-buttons-animate + .container .plate { opacity: 1; }

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(1) {
  left: -240%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(2) {
  top: 170%;
  left: -240%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(3) {
  top: 170%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(4) {
  left: -460%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(5) {
  top: 170%;
  left: -460%;
 }

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(6) {
  top: 280%;
  left: -460%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(7) {
  top: 280%;
  left: -240%;
}

#check:checked ~ .main-buttons-animate + .container .plate:nth-of-type(8) {
  top: 280%;
}
/* Time */
#checkT:checked ~ .main-buttons-animate + .container .plate.time-icon { opacity: 1; }

#checkT:checked ~ .main-buttons-animate + .container .plate.time-icon:nth-of-type(1) {
  top: 130%;
}

#checkT:checked ~ .main-buttons-animate + .container .plate.time-icon:nth-of-type(2) {
  top: 200%;
}

#checkT:checked ~ .main-buttons-animate + .container .plate.time-icon:nth-of-type(3) {
  top: 270%;
}

#checkT:checked ~ .main-buttons-animate + .container .plate.time-icon:nth-of-type(4) {
  top: 340%;
}

.skill-txt {
  position: relative;
  font-family: neon;
  color: #fff;
  font-weight: bold;
  bottom: 30%;
  font-size: 20px;

}
