body, html{
  height: 100%;
 	font-family: 'Oxygen', sans-serif;
  background-color: #ffc5bc !important;
}
/* BG */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px)
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
/* END BG */

/* NAV BAR */
.navbar-inverse.bg-white {
  background-color: #fff;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0px 10px #0006;
}
.brand-icon {
  height: 40px;
  margin: 5px;
}

.navbar-inverse .navbar-brand.bg-black {
  color: #3d3d3d;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  float: right;
}

.navbar-inverse .navbar-brand.bg-black:hover {
color: #3d3d3d;
}

/* PRESENTATION */

.chg-size {
  height: 90%;
}

.main {
  position: absolute;
  transform: translateY(30%);
}

.main p {
  font-size: 25px;
  text-align: center;
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.brand-icon-full {
  position: relative;
  left: 25%;
  filter: drop-shadow(0px 5px 10px #0006);
  margin-bottom: 10%;
}


/* FORM */
.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	/*background-color: #fff;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
  max-width: 800px;
  padding: 40px 40px;
  top: 45%;
  transform: translate(-50%,-50%);
  right: -50%;
  position: relative;
  display: flex;
}

.main-center .main-bg {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  margin: -40px;
  z-index: -99;
  opacity: 0.8;
}

img.profile-picture {
  margin-right: 15%;
  height: 600px;
  box-shadow: 0px 0px 10px #00000080;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.btn-primary.red {
  background-color: #f86060;
  border-radius: 25px;
  border: none;
}

.btn-primary.red:hover {
  background-color: #c23e3e;
  border-radius: 25px;
  border: none;
}
