.navbar{
  background: #fff;
  color: #555;
  padding: 10px 0 !important;
  margin-bottom: 20px;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.12), 0 7px 10px -5px rgba(0,0,0,0.15) !important;
}
.navbar.bg-rose{
color: #fff;
background-color: #e91e63 !important;
box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 12px -5px rgba(233,30,99,0.46);
}

.navbar.bg-dark{
color: #fff;
 background: #212121!important;
 box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 12px -5px rgba(33,33,33,0.46);
}

.navbar.bg-info{
  color: #fff;
  background: #00bcd4!important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 12px -5px rgba(0,188,212,0.46);
}

.navbar.bg-primary{
  color: #fff;
  background: #9c27b0!important;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14), 0 7px 12px -5px rgba(156,39,176,0.46);
}

.navbar.navbar-transparent{
  color: #fff;
  background: transparent;
  box-shadow: none !important;
}

.navbar.navbar-transparent .navbar-brand{
  color: #fff;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: white;
  position: relative;
  color: inherit;
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

.navbar .navbar-nav .nav-item .nav-link i{
  font-size: 20px;
  margin-top: -7px;
  top: 5px;
  position: relative;
  margin-right: 3px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa{

  margin-top: -4px;
  top: 2px;

}
.navbar .navbar-nav .nav-item.active .nav-link{
  background-color: hsla(0,0%,100%,.1);
  border-radius: 4px;
}

.navbar .navbar-brand{
  color: #555;
  font-weight: 300;
  font-size: 18px;
}

.logo {
  margin: auto;
}

.logo img {
  height: 30px;
}

.btn{
  position: relative;
  padding: 12px 30px !important;
  margin: .3125rem 1px;
  font-size: 12px !important;
  font-weight: 400 !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.btn i{
  margin-top: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: none;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
}

.btn.btn-fab{
  font-size: 24px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0 !important;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}
.btn.btn-round{
  border-radius:30px;
}
.btn.btn-rose{
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  -webkit-box-shadow: 0 2px 2px 0 rgba(233,30,99,0.14), 0 3px 1px -2px rgba(233,30,99,0.2), 0 1px 5px 0 rgba(233,30,99,0.12);
  box-shadow: 0 2px 2px 0 rgba(233,30,99,0.14), 0 3px 1px -2px rgba(233,30,99,0.2), 0 1px 5px 0 rgba(233,30,99,0.12) !important;

}

.btn.btn-rose:hover{
  color: #fff;
  background-color: #ea2c6d;
  border-color: #b8124a;
  box-shadow: 0 14px 26px -12px rgba(233,30,99,0.42), 0 4px 23px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(233,30,99,0.2) !important;
}

.btn.btn-rose:focus{
  color: #fff;
  background-color: #ea2c6d;
  border-color: #b8124a;
}

.btn.btn-white{
  background-color: #fff;
  color: #999;
}

.btn.btn-white:hover{
  background-color: #fff;
  color: #999;
}

.btn.btn-white:focus{
  background-color: #fff;
  color: #999;
}

.nav-link.profile-photo{
  padding: 0 !important; 
  margin: 5px 3px 0;
  border-radius: 50% !important;
}
.profile-photo-small{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.rounded-circle{
  border-radius: 50%;
}
.form-control{
  color: white !important;
}

.form-control:focus{
  box-shadow: none;
}

.form-control::placeholder{
  color: white !important;
  font-weight: 400;
  font-size: 14px !important;
}
.has-white .form-control{
  color: white;
  background-image: linear-gradient(to top,#fff 2px,rgba(255,255,255,0) 2px),linear-gradient(to top,#fff 1px,rgba(255,255,255,0) 1px) !important;
}