$gridsize: 12;
$gap: 15px;
$xs-min : 0px;
$sm-min : 768px;
$md-min : 992px;
$lg-min : 1200px;
$xsMax : 767px;
$smMax : 991px;
$mdMax : 1199px;
$sm-max : 750px;
$md-max : 970px;
$lg-max : 1170px;
$padMar : 15px;
$count-size: ($sm-max: $sm-min, $md-max: $md-min, $lg-max: $lg-min);
$count-type: '.container', '.container-fluid';
$breakpoints: ("xs": $xs-min,"sm": $sm-min,"md": $md-min,"lg": $lg-min);


$btn-default-color: #333 ;
$btn-default-bg:                 #fff ;
$btn-default-border: #ccc ;

$btn-primary-color:              #fff ;
$btn-primary-bg:                 #337ab7 ;
$btn-primary-border:             darken($btn-primary-bg, 5%) ;

$btn-success-color:              #fff ;
$btn-success-bg:                 #5cb85c ;
$btn-success-border:             darken($btn-success-bg, 5%) ;

$btn-info-color:                 #fff ;
$btn-info-bg:                    #5bc0de ;
$btn-info-border:                darken($btn-info-bg, 5%) ;

$btn-warning-color:              #fff ;
$btn-warning-bg:                 #f0ad4e ;
$btn-warning-border:             darken($btn-warning-bg, 5%) ;

$btn-danger-color:               #fff ;
$btn-danger-bg:                  red ;
$btn-danger-border: darken($btn-danger-bg, 5%) ;

$padding-large-vertical:    10px ;
$padding-large-horizontal:  16px ;

$padding-small-vertical:    5px ;
$padding-small-horizontal:  10px ;

$padding-xs-vertical:       1px ;
$padding-xs-horizontal: 5px ;

$line-height-large:         1.3333333 ; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5 ;
