body {
  font-color: white;
}

.wallpaper {
  z-index: -99;
  width: 100%;
  height: 100%;
  background-image: url("../img/film-poster.jpg");
  filter: blur(10px) brightness(40%);
  position: fixed;
}

/* SEARCH BAR */

form {
  display: inherit;
}

#auto-suggest .search {
  padding:0 13px;
  border:1px solid #cdcdcd;
	color:#ccc;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight:bold;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#auto-suggest .search:focus {
	color:#555;border-color:#c8c8c8;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#auto-suggest .suggestions {
  position:absolute;
  padding:0;
  list-style-type:none;
  border:1px solid #d5d4d4;
  background:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;
  color:#555;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  left: 0px;
  top: 45px;
  z-index: 10;
}

#auto-suggest .suggestions li {height:25px;padding:0 10px;line-height:25px;cursorointer;border-top:1px solid #f5f5f5}
#auto-suggest .suggestions li:hover {background:url(images/tick.png) no-repeat #fffac2;background-position:320px center;border-top-color:#fffac2}
#auto-suggest .suggestions li:first-child {border:none;}

h1.super_title {
  text-align: center;
  color: white;
}

h1 img {
  height: 50px;
}

h2.box-office_title {
  color: white;
  margin: 3% 0px;
}

.col-lg-3.cover img {
    width: 100%;
    box-shadow: 0px 0px 10px #ffffff80;
}

.wrapper {
  display: inline-block;
  padding: 2%;
  margin: 0 0%;
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.wrapper.box-office img {
  box-shadow: 0px 0px 10px #ffffff80;
}

.wrapper.most {
  background-color: #fff;
}

.btn.btn-primary.admin {
    position: fixed;
    top: 2%;
    right: 2%;
}

/* TABLE */
table {
    background-color: #fff !important;
}

p {
  margin: 0 0 10px;
  margin-top: 0px;
  background-color: white;
  margin-top: 20px;
}

/* PAGINATION */
#pagination {
    background-color: white;
}

p.sorry {
  color: white;
  background-color: unset;
}
